/* latin-ext */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'),
       local('Inconsolata-Regular'),
       url(fonts/BjAYBlHtW3CJxDcjzrnZCKE8kM4xWR1_1bYURRojRGc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'),
       local('Inconsolata-Regular'),
       url(fonts/BjAYBlHtW3CJxDcjzrnZCIgp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html, body {
  height: 100%;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
}

body {
  background-color: ghostwhite;
  margin: 0 1rem;
  color: #777;
}

a {
  color: #555;
  text-decoration: none;
}

a:hover {
  color: #333;
}

.above-the-fold {
  max-width: 60rem;
}

.logo svg {
  width: 100%;
}

.who-we-are {
  font-size: 2rem;
}

.who-we-are .emphasis {
  color: #111;
}

.meetup-frequency {
  font-size: 1.8rem;
}

.meetup-requisites {
  font-size: 1.8rem;
}

.social a {
  display: inline-block;
  padding: 12px;
}

.social svg {
  width: 24px;
}

.social svg path,
.social svg circle,
.social svg ellipse {
  fill: #666;
}

.social a:hover svg path,
.social a:hover svg circle,
.social a:hover svg ellipse {
  fill: #fff;
}

.github:hover {
  background-color: #181717;
}

.twitter:hover {
  background-color: #1DA1F2;
}

.slack:hover {
  background-color: #56B68B;
}

.facebook:hover {
  background-color: #3B5998;
}

.eventbrite:hover {
  background-color: #F6682F;
}

.youtube:hover {
  background-color: #FF0000;
}

.twitch:hover {
  background-color: #6441A4;
}

.meetup:hover {
  background-color: #e0393e;
}

.upcoming {
  padding: 20px;
  border: 1px solid #444;
  background-color: #222;
}

.upcoming h2 {
  margin-top: 0;
}
