/* latin-ext */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'),
       local('Inconsolata-Regular'),
       url(fonts/BjAYBlHtW3CJxDcjzrnZCKE8kM4xWR1_1bYURRojRGc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'),
       local('Inconsolata-Regular'),
       url(fonts/BjAYBlHtW3CJxDcjzrnZCIgp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


html, body {
  height: 100%;
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

body {
  background-color: #2e2e2e;
  color: #777;
}

header, .content {
  max-width: 600px;
  margin: 30px auto;
}

header {
  padding-top: 30px;
}

header p {
  padding: 0 20px;
}

h1 {
  color: #fff;
}

h2 {
  /*color: #607d8b;*/
  color: #4caf50;
}

strong {
  color: #ccc;
}

li {
  text-align: left;
}

a {
  color: #F7DF1E;
  text-decoration: none;
}

a:hover {
  color: #e91e63;
}

.logo svg {
  width: 100px;
}

.social a {
  display: inline-block;
  padding: 12px;
}

.social svg {
  width: 24px;
}

.social svg path,
.social svg circle,
.social svg ellipse {
  fill: #666;
}

.social a:hover svg path,
.social a:hover svg circle,
.social a:hover svg ellipse {
  fill: #fff;
}

.github:hover {
  background-color: #181717;
}

.twitter:hover {
  background-color: #1DA1F2;
}

.slack:hover {
  background-color: #56B68B;
}

.facebook:hover {
  background-color: #3B5998;
}

.eventbrite:hover {
  background-color: #F6682F;
}

.youtube:hover {
  background-color: #FF0000;
}

.twitch:hover {
  background-color: #6441A4;
}

.upcoming {
  padding: 20px;
  border: 1px solid #444;
  background-color: #222;
}

.upcoming h2 {
  margin-top: 0;
}
